extends layout

mixin item(food)
  .col-md-8.list-group-item
      .row
        .col-xs-10
          h4 
            h4
              a.food_link(href="create-edit/#{food._id}")= food.name
              small &nbsp;            
      .row
        .col-sm-3
          h5 Date
          p.date= food.date
        .col-sm-3
          h5 Quantity
          p= food.quantity
        .col-sm-3
          h5 Left Overs
          p= food.left_overs
        if food.expiry
          .col-sm-3
            h5 Expiry Date
            p= food.expiry
      .row
        .col-sm-10
        .col-sm-2
          a.btn(href="/food/delete/#{food._id}") Delete
      
block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
  .row
    .col-xs-12.col-sm-12.col-md-12
      .error= message
      .row.list-group
        each food in foods
          +item(food)
  